<div class="main users-edit">
  <div class="container">
    <div class="form-heading">Account edit</div>
      <div class="form users-form">
        <div class="form-body">
          <%= form_with(model: @user, local: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :image %>
            <%= f.file_field :image %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.email_field :email %>

          <p>Favorite Team</p>
          <div class="team-control">
            <%= f.radio_button :team, :"Giants" %>
            <%= f.label :team, "Giants", value: :"Giants" %>
            <%= f.radio_button :team, :"Tigers" %>
            <%= f.label :team, "Tigers", value: :"Tigers" %>
            <%= f.radio_button :team, :"Dragons" %>
            <%= f.label :team, "Dragons", value: :"Dragons" %>
            <%= f.radio_button :team, :"BAYSTARS" %>
            <%= f.label :team, "BAYSTARS", value: :"BAYSTARS" %>
            <%= f.radio_button :team, :"Carp" %>
            <%= f.label :team, "Carp", value: :"Carp" %>
            <%= f.radio_button :team, :"Swallows" %>
            <%= f.label :team, "Swallows", value: :"Swallows" %>
          </div>
                
          <div class="team-control">
            <%= f.radio_button :team, :"Hawks" %>
            <%= f.label :team, "Hawks", value: :"Hawks" %>
            <%= f.radio_button :team, :"Marines" %>
            <%= f.label :team, "Marines", value: :"Marines" %>
            <%= f.radio_button :team, :"Lions" %>
            <%= f.label :team, "Lions", value: :"Lions" %>
            <%= f.radio_button :team, :"Eagles" %>
            <%= f.label :team, "Eagles", value: :"Eagles" %>
            <%= f.radio_button :team, :"Fighters" %>
            <%= f.label :team, "Fighters", value: :"Fighters" %>
            <%= f.radio_button :team, :"Buffaloes" %>
            <%= f.label :team, "Buffaloes", value: :"Buffaloes" %>
          </div><br>
                
          <div class="profile-control">
            <%= f.label :profile %>
            <%= f.text_area :profile %>
          </div>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
                  
            <%= f.submit "Save", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
