<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">All users</h1>
    <h2>team search</h2>
    <div class="teams-search">
      <%= form_with(url: users_path, method: :get, local: true) do |f| %>
        <%= f.select "search", options_for_select([["Giants"], ["Tigers"],["Dragos"],["BAYSTARS"],["Carp"],["Swallows"],
                                                  ["Hawks"],["Marines"],["Lions"],["Eagles"],["Fighters"],["Buffaloes"]]) %>
        <%= f.submit 'Search', :team => nil, class: "btn btn-primary" %>
      <% end %>
    </div>
    <%= will_paginate %>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <% if user.image.attached? %>
            <%= image_tag user.image %>
          <% end %>
        </div>
        <div class="user-right">
          <%= link_to user.name, user %>
        </div>
        <div class="post-team-right">
          <%= user.team %>
        </div>
      </div>
    <% end %>
    <%= will_paginate %>
  </div>
</div>