<div class="main users-new">
  <div class="container">
    <div class="form-heading">Signup</div>
    <div class="form users-form">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_with(model: @user, local: true) do |f| %>
               <%= render 'shared/error_messages', object: f.object %>
               <p>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </p>
              <p>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </p>
              <p>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </p>
              <p>
                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </p>
                <%= f.submit :Signup, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
