    <header>
      <div class="header-logo">
        <% if current_user %>
          <%= link_to("a球っちんぐ", "/posts/index") %>
        <% else %>
          <%= link_to("球っちんぐ", root_path) %>
        <% end %>
      </div>
      <ul class="header-menus">
       <% if current_user %>
          <li>
            <%= link_to "Profile", current_user %>
          </li>
          <li>
            <%= link_to "Allposts", "/posts/index" %>
          </li>
          <li>
            <%= link_to("Newpost", "/posts/new") %>
          </li>
          <li>
            <%= link_to "Allusers", users_path %>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Signup", signup_path %>
          </li>
          <li>
            <%= link_to "Login", login_path %>
          </li>
        <% end %>
      </ul>
    </header>